langchain
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
qdrant-client
openai
psycopg2-binary
psycopg[pool]
python-dotenv

beautifulsoup4
tqdm
tenacity
httpx
pydantic
lark-oapi
